
#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PD4
step_pin: rht36:gpio10
dir_pin: rht36:gpio9
enable_pin: !rht36:gpio7
rotation_distance: 21.42   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree


##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
# uart_pin: PD7
uart_pin: rht36:gpio8
interpolate: false
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0
